.slider-wrapper {
    background-color: #3e3e3e;
    width: 100%;
    max-height: 600px;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
}

.slider {
    display: flex;
    margin: 50px auto auto;
    flex-direction: column;
    justify-content: space-between;

}

.slide {
    width: 90vw;
}

.slide img {
    border-radius: 10px;
}

.slides {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    width: 90vw;
}

.slides-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* width: 100vw; */
}

.slide-textbox-list {
    overflow: hidden;
    margin-right: 5px;
}

.slide-textbox {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 30px auto 50px 0;
}

.slide-text {
    flex: 0 0 100%;
    color: antiquewhite;
}

.slider-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 750px;
}

.slider-nav {
    display: flex;
    column-gap: 10px;
    margin: 0 auto;
}

.slider-nav-btn {
    width: 20px;
    height: 20px;
    background-color: #438efe;
    border-radius: 50%;
    border: 1px solid #438efe;
    margin-top: 30px;
    box-sizing: border-box;
}

a[disabled] {
    cursor: none;
    background-color: #3e3e3e;
    border: 3px solid #438efe;
}

a:hover {
    background-color: #fff;
    border: 3px solid #fff;

}

a:hover[disabled] {
    background-color: #3e3e3e;
    border: 3px solid #fff;
}

@media (max-width: 800px) {
    .slider {
        width: 90vw;
    }

    .slider-bottom {
        width: 90vw;
    }

    .slide img {
        width: 90vw;
    }

}

@media (max-width: 505px) {
    .slides-list {
        max-width: 90vw;

    }

    .slide {
        width: 100vw;
        /* height: 100%; */
        object-fit: cover;
    }

    .slider-bottom {
        flex-direction: column-reverse;
    }
}