.slider-wrapper {
    /* display: flex; */
    background-color: #3e3e3e;
    max-height: 600px;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
}

.slider {
    display: flex;
    margin: 50px auto auto;
    flex-direction: column;
    justify-content: space-between;

}

.slide img {
    border-radius: 10px;
}

.slides {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
}

.slides-list {
    display: flex;
}

.slide-textbox {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-width: 750px;
    overflow: hidden;
    margin: 30px auto 50px 50px;
}

.slide-text {
    flex: 0 0 100%;
    color: antiquewhite;
    text-align: center;
}

.slider-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
/* 
.slide-hidden {
    overflow: hidden;
}

.slide-text-hidden {
    overflow: hidden;
} */

.slider-nav {
    display: flex;
    column-gap: 10px;
}

.slider-nav-btn {
    width: 20px;
    height: 20px;
    background-color: #438efe;
    border-radius: 50%;
    border: 1px solid #438efe;
    margin-top: 30px;
}

a[disabled] {
    cursor: none;
    background-color: #3e3e3e;
    border: 3px solid #438efe;
}

a:hover {
    background-color: #fff;
    border: 3px solid #fff;

}

a:hover[disabled] {
    background-color: #3e3e3e;
    border: 3px solid #fff;
}